.book-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px; 
}

.book-picture {
    height: 250px;
}

.book-description-line {
    font-weight: bold;
    color:#333;
    font-size: 15px;
    margin: 5px 0;
}

.information {
    font-weight: normal;
}

.book-description {
  padding: 10px;
  color:#333;
}
    
.book-description h3 {
  font-size: 20px;
  margin: 0;
}